#content p {
   background-color: aliceblue;
   margin: 20px;
   line-height: 1.8;
   font-family: 'Segoe UI';
   padding: 20px;
}

#content h1 {
   text-align: center;
   margin: 20px;
   padding: 20px;
}