#content h1 {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-family: Tahoma, sans-serif;
}

#content p {
  background-color: aliceblue;
  line-height: 1.8;
  font-family: 'Segoe UI';
  margin: 20px;
  padding: 20px;
}